@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#section1 {
  transform-origin: center center;
  animation: kenBurns 10s ease-in-out infinite alternate;
}

@keyframes kenBurns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
               0 0 20px rgba(255, 255, 255, 0.5),
               0 0 40px rgba(255, 255, 255, 0.3);
}

/* Add this to your global styles or a CSS file */
@keyframes borderAnimation {
  0% {
    border-color: rgb(249, 199, 199);
  }
  25% {
    border-color: #ff816a;
  }
  50% {
    border-color: #f84aa6;
  }
  75% {
    border-color: #dec6f5;
  }
  100% {
    border-color: #f0de7a;
  }
}

.animate-border {
  animation: borderAnimation 4s infinite;
}
